.alfa-font {
  font-family: 'Alfa Slab One', cursive;
  font-size: 80px;
  color: #b0a103;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;  
  color: rgb(232, 135, 9); /* or any visible color */
}

.dalfa-font {
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 24px;
  color: #000000;
}